{% load static %}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Resto</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/cover.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
</head>

<body>
	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">
				<h3 class="masthead-brand">Resto</h3>
				<nav class="nav nav-masthead justify-content-center">
					<div class="btn-group">
						<input class="btn btn-outline-light" type="button" name="options" value="Login">
						<input class="btn btn-outline-light" type="button" name="options" value="Register">
					</div>
				</nav>
			</div>
		</header>

		<main role="main" class="inner cover">
			<h1 class="cover-heading">Get the best Restaurants recommended near you.</h1>
			<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
				text, and add your own fullscreen background photo to make it your own.</p>
			<div class="search-form">
					<form autocomplete="off" action="/restaurants">
						<div class="autocomplete" style="width: 60%;">
							<input id="myInput" type="text" name="search" placeholder="City">
						</div>
						<input type="submit" value="Find Restaurants">
					</form>
			</div>

		</main>

		<footer class="mastfoot mt-auto">
			<div class="inner">
				<p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
						href="https://twitter.com/mdo">@mdo</a>.</p>
			</div>
		</footer>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/intro.js' %}"></script>
</body>

</html>